<div class="modal-header">
    <h4 class="modal-title">{{ isValid ? successMessage : errorMessage }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div style="padding: 0 1rem;" class="modal-body" *ngFor="let message of msg">
    <p style="margin: 1rem 0">{{ message.text }}</p>
</div>
<div class="modal-footer">
    <button *ngIf="isValid" class="btn btn-success btn-sm" (click)="success()">
      Novo resgate
    </button>
    <button *ngIf="!isValid" class="btn btn-danger btn-sm" (click)="activeModal.close('Close click')">
      Voltar
    </button>
</div>